*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 992px) {
    html {
      font-size: 56%; } }
  @media (max-width: 768px) {
    html {
      font-size: 50%; } }
  @media (max-width: 480px) {
    html {
      font-size: 48%; } }

body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem; }

a, a:link, a:visited, a:hover {
  text-decoration: none; }

ul {
  list-style: none; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #D6C4B8;
  z-index: 999999999; }
  .loader.hidden {
    animation: hide 1s ease forwards; }
  .loader .icon-basket {
    font-size: 6rem;
    color: #F0475F;
    transform-origin: top;
    animation: rotation 2s ease infinite;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.section-padding {
  padding: 9rem 0; }
  @media (max-width: 992px) {
    .section-padding {
      padding: 7rem 0; } }

.margin-b-medium {
  margin-bottom: 6rem; }

.margin-b-large {
  margin-bottom: 8rem; }

.margin-b-huge {
  margin-bottom: 10rem; }

.section-bg {
  background-color: #f7f7f7; }

.font-special {
  font-family: cursive; }

.letter-sky {
  color: #64b3f4; }

.heading-primary {
  font-size: 5.5rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 4rem; }
  @media (max-width: 576px) {
    .heading-primary {
      line-height: 7rem; } }
  .heading-primary .font-special {
    font-size: 14rem; }
    @media (max-width: 576px) {
      .heading-primary .font-special {
        font-size: 9rem; } }
    @media (max-width: 369px) {
      .heading-primary .font-special {
        font-size: 7rem; } }
  .heading-primary .big-font {
    color: #F0475F; }
  .heading-primary__sub {
    display: block;
    font-size: 1.8rem;
    letter-spacing: .9rem;
    word-spacing: 1rem;
    font-weight: 700; }
    @media (max-width: 576px) {
      .heading-primary__sub {
        letter-spacing: .6rem;
        word-spacing: .9rem;
        line-height: 4rem; } }
    @media (max-width: 369px) {
      .heading-primary__sub {
        letter-spacing: .45rem; } }
  @media (max-width: 346px) {
    .heading-primary.margin-b-large {
      margin-bottom: 2rem; } }

.heading-secondary {
  font-size: 5rem;
  font-weight: 400;
  text-transform: capitalize; }
  .heading-secondary .font-special {
    color: #0076BE;
    font-weight: 600; }

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 400; }
  .heading-tertiary .font-special {
    font-size: 6rem; }

.fourth-heading {
  font-size: 3.6rem;
  font-weight: 600; }
  .fourth-heading .offer {
    display: inline-block;
    color: red;
    font-size: 6.4rem;
    font-weight: 700; }

.tab-heading {
  background-color: #e6e3e3;
  display: inline-block;
  padding: 1rem 8rem 1rem 2rem;
  margin-bottom: 1rem;
  font-size: 1.9rem;
  font-weight: 400; }

.collection-heading {
  color: #64b3f4;
  font-size: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  text-transform: capitalize;
  width: 75%; }

.info-heading {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px; }

.white {
  color: #fff; }

@keyframes showDropDown {
  to {
    opacity: 1;
    top: 92%; } }

@keyframes show {
  to {
    opacity: 1;
    visibility: visible; } }

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes rotation {
  0% {
    transform: rotate(-30deg); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(-30deg); } }

.btn-primary {
  padding: 1rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: capitalize;
  border-radius: .5rem;
  display: inline-block;
  transition: 0.3s; }
  .btn-primary:hover {
    background-color: #0069D9; }

.btn-transparent {
  color: #fff;
  border: 2px solid #fff;
  font-size: 2rem;
  padding: .6rem 2.5rem;
  letter-spacing: .2rem;
  display: inline-block;
  transition: 0.3s; }
  .btn-transparent:hover {
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(255, 255, 255, 0.3); }

.submit-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #000;
  color: #fff;
  margin-top: 2rem;
  font-size: 1.8rem;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px; }

.view-more-btn {
  padding: 1rem 3rem;
  border-radius: 5px;
  background-color: #64b3f4;
  font-size: 2.3rem;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3s;
  display: inline-block; }
  @media (max-width: 768px) {
    .view-more-btn {
      width: 80%;
      text-align: center; } }
  .view-more-btn:hover {
    background-color: #0076BE; }

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-bottom: 2px solid #74777b;
  margin-bottom: 5rem; }
  @media (max-width: 420px) {
    .tabs {
      flex-direction: column; } }
  .tabs__item {
    text-align: center;
    flex: 1; }
    @media (max-width: 992px) {
      .tabs__item {
        flex: 0 0 50%; } }
    @media (max-width: 420px) {
      .tabs__item {
        margin-bottom: 1rem; } }
  .tabs__link {
    display: block;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 600;
    padding: .9rem .5rem;
    color: #74777b;
    border: 1px solid transparent;
    letter-spacing: 2px;
    word-spacing: 6px;
    white-space: nowrap;
    transition: 0.3s; }
    .tabs__link:hover {
      border: 1px solid #e6e3e3; }
    .tabs__link.active {
      color: #0076BE;
      background-color: #e6e3e3; }

.tabs-body {
  position: relative;
  width: 100%;
  height: 60rem; }
  @media (max-width: 1200px) {
    .tabs-body {
      height: 48rem; } }
  @media (max-width: 992px) {
    .tabs-body {
      height: 57rem; } }
  @media (max-width: 885px) {
    .tabs-body {
      height: 53rem; } }
  @media (max-width: 769px) {
    .tabs-body {
      height: 70rem; } }
  @media (max-width: 670px) {
    .tabs-body {
      height: 65rem; } }
  @media (max-width: 600px) {
    .tabs-body {
      height: 60rem; } }
  @media (max-width: 530px) {
    .tabs-body {
      height: 50rem; } }
  @media (max-width: 420px) {
    .tabs-body {
      height: 45rem; } }
  .tabs-body .tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all .7s; }
    .tabs-body .tab.active {
      transform: scale(1);
      opacity: 1;
      visibility: visible; }

.payment-section .tabs {
  margin-bottom: 0;
  border-bottom: 0; }
  .payment-section .tabs__link {
    font-size: 2rem;
    word-spacing: normal;
    letter-spacing: normal;
    color: #000; }
    .payment-section .tabs__link.active {
      color: #fff;
      background-color: #0076BE; }

.payment-section .tabs-body {
  border: 1px solid #74777b; }

.payment-section__tab {
  padding: 4rem 6rem; }
  .payment-section__tab--check input {
    display: none; }
    .payment-section__tab--check input:checked + label::after {
      display: block; }
    .payment-section__tab--check input:checked + label::before {
      border: 1px solid #0076BE;
      background-color: #000; }
  .payment-section__tab--check label {
    position: relative;
    cursor: pointer; }
    .payment-section__tab--check label::before {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      background-color: #fff;
      border: 1px solid #74777b;
      position: absolute;
      left: calc(-1.5rem - .5rem);
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer; }
    .payment-section__tab--check label::after {
      content: '';
      width: 1.3rem;
      height: .9rem;
      border-bottom: 3px solid #fff;
      border-left: 3px solid #fff;
      position: absolute;
      left: calc(-1.5rem - .4rem);
      top: 45%;
      transform: translateY(-50%) rotate(-65deg);
      display: none; }
  .payment-section__tab--form label {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 600; }
  .payment-section__tab--form input {
    display: block;
    width: 100%;
    padding: 1rem 1.3rem;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    border: none;
    border: 1px solid #74777b; }
  .payment-section__tab .radio-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .payment-section__tab .radio-section .form-group {
      flex: 1 1 16rem; }
    .payment-section__tab .radio-section input {
      margin-right: .7rem; }
      .payment-section__tab .radio-section input:checked + label {
        color: #000; }
    .payment-section__tab .radio-section label {
      cursor: pointer;
      font-size: 1.8rem;
      color: #74777b; }
  .payment-section__tab select {
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    background-color: #e6e3e3; }

.payment-section .paypal img {
  width: 65%; }

.payment-section .paypal p {
  color: #8B8B8B; }

.payment-section .paypal a {
  font-size: 1.7rem;
  background-color: #3a5795;
  color: #fff;
  display: inline-block;
  padding: 1rem;
  border-radius: 5px; }

.slider {
  user-select: none;
  cursor: grab; }

.product--js {
  overflow: hidden; }

.product {
  border-radius: .5rem;
  height: 100%;
  overflow: hidden;
  background-color: #fff; }
  .product:not(:last-of-type) {
    border: 1px solid #e6e3e3; }
  .product__image {
    position: relative; }
    .product__image img {
      width: 100%;
      display: block; }
    .product__image .overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transform: translateY(3rem);
      transition: 0.3s; }
      .product__image .overlay .overlay-btn {
        background-color: #000;
        padding: 1.5rem 2rem;
        font-size: 2rem;
        color: #fff;
        border-radius: .5rem;
        transition: 0.3s; }
        .product__image .overlay .overlay-btn:hover {
          background-color: #0076BE; }
    .product__image:hover .overlay {
      opacity: 1;
      transform: translateY(0); }
  .product__text {
    padding: .5rem 2.5rem 1.5rem; }
    @media (max-width: 576px) {
      .product__text {
        padding: .5rem 1rem; } }
  .product__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem; }
  .product__price {
    font-size: 2rem;
    padding: 0.5rem; }
    .product__price span:first-child {
      font-weight: 600; }
    .product__price span:last-child {
      font-weight: 400;
      text-decoration: line-through; }
  .product__cart {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #F7F7F7;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .product__cart--added {
      font-size: 1.6rem;
      text-transform: capitalize;
      opacity: 0; }
    .product__cart .add-to-cart {
      padding: 1rem 1.6rem;
      background-color: #D8E9FA;
      border: none;
      outline: none;
      border-radius: .5rem;
      cursor: pointer; }
      .product__cart .add-to-cart i {
        font-size: 2.5rem;
        color: #64b3f4; }

.media {
  padding: 4rem 0 1rem; }
  .media__comment {
    display: flex;
    align-items: flex-start; }
    .media__comment:not(:first-of-type) {
      padding-left: 7rem;
      padding-top: 3rem; }
    .media__comment--image {
      margin-right: 1.5rem; }
    .media__comment--name {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: .5rem; }
    .media__comment--text {
      color: #74777b;
      line-height: 1.6; }

.aside__section {
  border: 1px solid #e6e3e3;
  border-radius: 5px; }
  .aside__section--heading {
    padding: 1.2rem 2rem;
    background-color: #F7F7F7;
    font-size: 2.2rem;
    font-weight: 400; }
  .aside__section--body {
    padding: 2rem;
    display: flex;
    align-items: center; }
    .aside__section--body input[type="search"] {
      padding: .7rem 1rem;
      display: inline-block;
      flex: 1 1 calc(100% - 6rem);
      max-width: calc(100% - 6rem);
      background-color: #BED0E9;
      font-size: 1.6rem;
      transition: 0.3s;
      border: 1px solid #e6e3e3;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
      .aside__section--body input[type="search"]:focus {
        background-color: #fff;
        outline: none;
        border: 1px solid #74777b; }
    .aside__section--body button[type="submit"] {
      padding: .7rem 1rem;
      flex: 0 0 6rem;
      background-color: #64b3f4;
      border: 1px solid #64b3f4;
      color: #fff;
      font-size: 1.6rem;
      outline: none;
      cursor: pointer;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .aside__section--body a {
      background-color: #000;
      color: #fff;
      padding: .8rem;
      border-radius: 5px;
      margin: .3rem .3rem 0 0;
      display: inline-block; }

.clothing .aside {
  background-color: #EEEEEE; }
  .clothing .aside__section--heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    background-color: #fff;
    border-radius: 5px; }
  .clothing .aside__section--body {
    padding: 1rem;
    display: block; }
    .clothing .aside__section--body ul li {
      display: flex;
      align-items: center; }
      .clothing .aside__section--body ul li:not(:last-of-type) {
        margin-bottom: 1.5rem; }
      .clothing .aside__section--body ul li input[type="checkbox"] {
        margin-right: 1rem;
        cursor: pointer; }
      .clothing .aside__section--body ul li label {
        font-weight: 600;
        font-size: 1.7rem;
        cursor: pointer; }
    .clothing .aside__section--body input[type="search"] {
      width: 90%;
      max-width: 90%;
      margin: 0 auto;
      display: block;
      background-color: #fff;
      text-align: center;
      margin-bottom: 0.5rem; }
    .clothing .aside__section--body input[type="submit"] {
      width: 90%;
      margin: 0 auto;
      display: block;
      background-color: #0076BE;
      text-align: center;
      color: #fff;
      font-size: 1.8rem;
      border: 0;
      padding: 1rem;
      cursor: pointer; }

.contact__info {
  padding-left: 3rem;
  margin-bottom: 3rem; }
  .contact__info--text {
    color: #74777b;
    display: block; }
    .contact__info--text:not(:last-of-type) {
      margin-bottom: 1rem; }

.form__heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-transform: capitalize; }

.form__group {
  margin: 1.5rem 0; }
  .form__group label {
    color: #495057;
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.8rem; }
  .form__group input,
  .form__group textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    outline: none;
    border: 2px solid #e6e3e3;
    transition: 0.3s; }
    .form__group input:focus,
    .form__group textarea:focus {
      border: 2px solid #64b3f4; }
  .form__group textarea {
    height: 10rem;
    resize: none; }
  .form__group .btn-primary {
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #17a2b8;
    cursor: pointer;
    transition: 0.3s; }
    .form__group .btn-primary:hover {
      background-color: #117A8B; }

.form-group {
  margin: 1.8rem 0; }

.map {
  width: 100%;
  height: 35rem; }
  .map iframe {
    width: 100%;
    height: 100%;
    border: 0.5rem solid #117A8B; }

.cart {
  position: fixed;
  right: 1rem;
  top: 7.5rem;
  width: 45rem;
  max-width: 85%;
  height: auto;
  max-height: 45rem;
  padding: 2rem;
  background-color: #e6e3e3;
  z-index: 999999;
  border-radius: 3px;
  overflow-y: hidden;
  display: none; }
  .cart__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; }
    .cart__heading h2 {
      font-size: 2rem;
      font-weight: 600;
      text-transform: capitalize; }
    .cart__heading .cart-close {
      font-size: 1.7rem;
      cursor: pointer; }
  .cart__body {
    position: relative;
    background-color: #fff;
    border: 1px solid #74777b;
    padding: 0 1.5rem;
    border-radius: 3px;
    height: auto;
    max-height: 34rem;
    overflow-y: scroll;
    margin-bottom: 1rem; }
  .cart__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0; }
    .cart__product:not(:last-of-type) {
      border-bottom: 1px solid #74777b; }
    .cart__product--info {
      flex: 0 0 85%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cart__product--info--name {
        font-size: 1.6rem;
        font-weight: 400; }
      .cart__product--info--price {
        font-size: 1.5rem;
        font-weight: 400; }
      .cart__product--info span.remove-item {
        cursor: pointer; }
    .cart__product--control-amount {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .cart__product--control-amount i {
        cursor: pointer; }
  .cart__footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .cart__footer h3 {
      font-size: 1.8rem;
      font-weight: 600; }
    .cart__footer a {
      font-size: 1.8rem;
      font-weight: 600;
      color: #F60B0E; }

.navigation {
  padding: 1rem;
  border-top: 1px solid #e6e3e3;
  position: relative;
  z-index: 777; }
  @media (max-width: 768px) {
    .navigation {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 25rem;
      background-color: #64b3f4;
      transform: translateX(-100%);
      transition: 0.3s; } }
  .navigation.active {
    transform: translateX(0); }
  .navigation__list {
    display: flex;
    justify-content: center;
    position: relative;
    padding: .5rem; }
    @media (max-width: 768px) {
      .navigation__list {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        text-align: center;
        padding-top: 6rem; } }
  .navigation__item {
    z-index: 5; }
    .navigation__item:not(:last-of-type) {
      margin-right: 2rem; }
      @media (max-width: 768px) {
        .navigation__item:not(:last-of-type) {
          margin-right: 0; } }
    .navigation__item:hover .navigation__dropdown {
      display: block;
      animation: showDropDown .5s forwards ease-in-out; }
      @media (max-width: 768px) {
        .navigation__item:hover .navigation__dropdown {
          top: 53%;
          opacity: 1;
          left: 104%;
          transform: translateY(-50%);
          animation: none; } }
    @media (max-width: 768px) {
      .navigation__item:hover .dropdown-toggle::after {
        border-top: 1.5rem solid red;
        border-right: 1.5rem solid transparent;
        border-left: 1.5rem solid transparent;
        margin-left: 0rem;
        position: absolute;
        top: 50%;
        left: 96%;
        transform: translateY(-50%) rotate(90deg); } }
  .navigation__link {
    padding: .9rem 0;
    display: block;
    font-size: 1.8rem;
    color: #000;
    transition: 0.3s;
    border-bottom: 1px solid transparent; }
    .navigation__link:hover, .navigation__link.active {
      border-bottom: 1px solid #64b3f4; }
    .navigation__link.dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .navigation__link.dropdown-toggle::after {
        content: "";
        border-top: 0.5rem solid;
        border-right: 0.5rem solid transparent;
        border-bottom: 0;
        border-left: 0.5rem solid transparent;
        margin-left: 0.7rem; }
  .navigation__dropdown {
    background-color: #fff;
    display: none;
    opacity: 0;
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    border: 2px solid #e6e3e3;
    padding: 1rem;
    border-radius: .5rem;
    z-index: 7; }
    .navigation__dropdown--link {
      display: block;
      padding: .7rem 1rem;
      color: #000;
      transition: 0.3s; }
      .navigation__dropdown--link:hover {
        background-color: #e6e3e3; }
    .navigation__dropdown--heading {
      display: block;
      padding: 1rem;
      background-color: #e6e3e3;
      color: #000;
      font-size: 1.8rem; }
  .navigation__icon {
    position: absolute;
    top: 7.5rem;
    right: 0;
    transform: translateX(110%);
    width: 4rem;
    height: 3.5rem;
    padding: .3rem;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #64b3f4;
    background-color: #0076BE;
    cursor: pointer;
    outline: none;
    z-index: 9; }
    .navigation__icon--container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .navigation__icon--container span {
        width: 90%;
        height: 2px;
        background-color: #fff; }

.header {
  z-index: 999; }
  .header .first-nav {
    transition: 0.3s; }
    .header .first-nav.fixed {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      z-index: 9999999;
      background-color: #fff;
      box-shadow: 0rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.2); }
  .header__logo {
    font-size: 4.7rem; }
    .header__logo a {
      color: #000; }
  .header__options--form--select, .header__options--form--search {
    font-size: 1.61rem;
    color: #495057;
    border-radius: .5rem;
    outline: none;
    cursor: pointer; }
  .header__options--form--select {
    padding: .6rem 1.2rem; }
    @media (max-width: 350px) {
      .header__options--form--select {
        padding: .5rem 0rem; } }
  .header__options--form--search {
    background-color: #fff;
    color: #495057;
    border: 1px solid #495057;
    padding: .7rem 1.4rem;
    transition: 0.3s; }
    .header__options--form--search:hover {
      color: #fff;
      background-color: #495057; }
  .header__icons {
    font-size: 2.5rem;
    color: #64b3f4; }
    .header__icons--user i, .header__icons--cart i {
      padding: 1rem;
      cursor: pointer;
      border-radius: .5rem;
      transition: 0.3s; }
      @media (max-width: 350px) {
        .header__icons--user i, .header__icons--cart i {
          padding: .5rem; } }
      .header__icons--user i:hover, .header__icons--cart i:hover {
        background-color: #D8E9FA; }

.secondary-header {
  background-image: url(../images/inner_ban.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem 0; }
  .secondary-header .heading-primary {
    text-transform: capitalize; }

.page-path {
  background-color: #E9ECEF;
  color: #74777b;
  padding: 1.5rem;
  font-size: 1.8rem;
  text-transform: capitalize; }
  .page-path__prev {
    color: #64b3f4;
    transition: 0.3s; }
    .page-path__prev:hover {
      color: #0076BE; }

.footer {
  background-color: #e6e3e3; }
  .footer__col-heading {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #74777b;
    margin-bottom: 2rem; }
  .footer__link {
    display: block;
    padding: .5rem 0;
    color: #495057;
    font-size: 1.6rem; }
  .footer__blog--item:not(:last-of-type) {
    margin-bottom: 1rem; }
  .footer__blog--item .footer__link {
    padding: 0;
    margin-left: 1rem;
    font-size: 1.7rem; }
  .footer__posts-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .footer__posts-images a {
      display: inline-block;
      margin: .4rem .4rem 0 0; }
      .footer__posts-images a img {
        width: 95%; }
  .footer__tags a {
    background-color: #000;
    color: #fff;
    padding: .8rem;
    border-radius: 5px;
    margin: .3rem .3rem 0 0; }

.hero-section {
  width: 100%;
  height: 70rem;
  position: relative; }
  .hero-section .banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s; }
    .hero-section .banner.show {
      opacity: 1;
      z-index: 3; }
    .hero-section .banner__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
      .hero-section .banner__background--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right center; }
        .hero-section .banner__background--img.first {
          object-position: center; }
      .hero-section .banner__background::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }
    .hero-section .banner__content {
      width: 50%;
      padding-top: 5rem;
      padding-right: 5.5rem; }
      @media (max-width: 1200px) {
        .hero-section .banner__content {
          width: 60%; } }
      @media (max-width: 992px) {
        .hero-section .banner__content {
          width: 73%; } }
      @media (max-width: 767px) {
        .hero-section .banner__content {
          width: 88%; } }
      @media (max-width: 576px) {
        .hero-section .banner__content {
          width: 100%; } }
    .hero-section .banner__offer {
      padding: 4rem 4rem 6rem;
      margin-left: auto;
      background-color: #D6C4B8;
      clip-path: polygon(0 15%, 100% 0, 100% 59%, 0 100%);
      -webkit-clip-path: polygon(0 15%, 100% 0, 100% 59%, 0 100%);
      position: relative; }
      @media (max-width: 576px) {
        .hero-section .banner__offer {
          clip-path: none;
          padding: 3rem 4rem 3rem 5.5rem; } }
      .hero-section .banner__offer--percent {
        position: relative; }
        .hero-section .banner__offer--percent .off {
          position: absolute;
          top: 0rem;
          right: 27%;
          display: flex;
          flex-direction: column; }
          @media (max-width: 491px) {
            .hero-section .banner__offer--percent .off {
              right: 5%; } }
          .hero-section .banner__offer--percent .off span {
            padding: .5rem .6rem;
            background-color: #fff;
            font-weight: bold;
            font-size: 2.1rem;
            line-height: 1; }
      .hero-section .banner__offer .paragraph {
        font-size: 2rem;
        padding: 1rem 0;
        margin: 2rem 0 3rem;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        letter-spacing: 1.4rem;
        word-spacing: 2rem;
        font-weight: 600; }
        @media (max-width: 576px) {
          .hero-section .banner__offer .paragraph {
            letter-spacing: .3rem;
            word-spacing: .3rem; } }
  .hero-section .banner-control {
    position: absolute;
    left: 1.5rem;
    top: 20%; }
    .hero-section .banner-control__item {
      height: 2.2rem;
      width: 1rem;
      background-color: #E0D3CA;
      cursor: pointer; }
      .hero-section .banner-control__item:not(:last-of-type) {
        margin-bottom: 1rem; }
      .hero-section .banner-control__item.active {
        background-color: #007bff; }

.services-section__item {
  padding: 5.5rem; }
  .services-section__item:first-of-type, .services-section__item:nth-of-type(3) {
    background-color: #D8E9FA; }
  .services-section__item:last-of-type, .services-section__item:nth-of-type(2) {
    background-color: #BED0E9; }
  .services-section__item--icon {
    display: block;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 5rem;
    color: #0076BE; }
  .services-section__item--title {
    font-size: 2.5rem;
    font-weight: 600; }

.shop-section__box {
  position: relative;
  height: 63rem;
  background-size: cover;
  background-position: top;
  overflow: hidden; }
  .shop-section__box:first-of-type {
    background-image: url(../images/a1.jpg); }
  .shop-section__box:nth-of-type(2) {
    background-image: url(../images/a2.jpg); }
  .shop-section__box:last-of-type {
    background-image: url(../images/a3.jpg); }
  .shop-section__box--overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden; }
    @media (max-width: 576px) {
      .shop-section__box--overlay {
        opacity: 1;
        visibility: visible; } }
    .shop-section__box--overlay--title {
      padding: 7rem;
      text-align: center;
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: .5rem;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
      transform: translateY(-5rem);
      transition: 0.3s; }
    .shop-section__box--overlay .btn-container {
      margin-top: 14rem;
      transition: 0.3s; }
  .shop-section__box:hover .shop-section__box--overlay {
    animation: show .3s forwards ease-in-out; }
  .shop-section__box:hover .shop-section__box--overlay--title {
    transform: translateY(0); }
  .shop-section__box:hover .btn-container {
    margin-top: 10rem; }
  @media (max-width: 576px) {
    .shop-section__box--overlay--title {
      transform: translateY(0); } }
  @media (max-width: 576px) {
    .shop-section__box .btn-container {
      margin-top: 10rem; } }

.gallery__item {
  position: relative;
  cursor: pointer;
  user-select: none; }
  .gallery__item:hover .overlay {
    animation: show .3s forwards ease-in-out; }
  .gallery__item img {
    width: 100%; }
  .gallery__item .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100% - 1.3rem);
    width: calc(100% - 1rem);
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden; }
    .gallery__item .overlay ul {
      flex: 0 0 100%;
      font-size: 2.5rem;
      font-weight: 600;
      color: #fff; }
      .gallery__item .overlay ul i {
        margin-right: .4rem; }

.gallery__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  user-select: none;
  display: none; }
  .gallery__popup img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    max-width: 90%; }
  .gallery__popup i {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    background-color: #64b3f4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; }
    .gallery__popup i.fa-arrow-right {
      right: 10%; }
    .gallery__popup i.fa-arrow-left {
      left: 10%; }

.blog {
  border-radius: .5rem;
  overflow: hidden; }
  @media (max-width: 576px) {
    .blog {
      width: 85%;
      margin: auto; } }
  .blog:hover .blog__image img {
    transform: scale(1.1); }
  .blog__image {
    overflow: hidden;
    display: block; }
    .blog__image img {
      width: 100%;
      display: block;
      transition: 0.3s; }
  .blog__text {
    padding: 1.5rem;
    border: 1px solid #e6e3e3;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem; }
    .blog__text--heading {
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 600;
      text-transform: capitalize; }
      .blog__text--heading a {
        color: #0076BE; }
    .blog__text p {
      color: #74777b;
      font-size: 1.7rem;
      line-height: 1.6;
      margin-bottom: 0.5rem; }
  .blog__date {
    color: #74777b;
    display: block;
    font-size: 1.4rem;
    position: relative;
    padding-left: 2rem; }
    .blog__date::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 1px;
      width: 1rem;
      background-color: #495057; }
  .blog__share {
    padding: .5rem 1.5rem; }
    .blog__share p {
      text-transform: uppercase;
      font-size: 2.5rem; }
    .blog__share--link {
      color: #fff;
      padding: .3rem 0.8rem;
      display: inline-block;
      border-radius: 5px;
      display: inline-flex;
      align-items: center; }
      .blog__share--link:first-of-type {
        background-color: #1da1f2;
        margin-right: .5rem; }
      .blog__share--link:last-of-type {
        background-color: #3b5998; }
      .blog__share--link i {
        margin-right: .5rem; }
  .blog__form {
    border-radius: 5px;
    border: 1px solid #e6e3e3;
    padding: 3rem; }

.faq__heading {
  color: #64b3f4;
  font-weight: 400;
  font-size: 3.5rem;
  margin-bottom: 3rem; }

.faq__questions--heading {
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 2.5rem; }

.faq__questions--list {
  padding-left: 1.5rem; }
  .faq__questions--list li {
    padding-left: .5rem; }

.faq__item {
  margin-bottom: 2rem; }

.faq__question {
  font-size: 1.8rem;
  color: #74777b;
  cursor: pointer;
  display: flex;
  justify-content: space-between; }
  .faq__question.show-answer {
    color: #0076BE; }
  .faq__question i {
    font-size: 2rem; }

.faq__answer {
  margin-top: 1rem;
  padding-left: 1rem;
  color: #000;
  height: 0;
  overflow: hidden;
  font-weight: 400;
  transition: 0.3s; }

.collection-section .product {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0; }
  .collection-section .product > div {
    background: none; }

.clothing .product,
.product-info .product {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem; }
  .clothing .product > div,
  .product-info .product > div {
    background: none; }
  .clothing .product__text,
  .product-info .product__text {
    padding: .5rem 1.5rem 1.5rem; }
  .clothing .product__image,
  .product-info .product__image {
    padding: 1.5rem 2rem 0; }

.product-info__images {
  width: 100%;
  position: relative; }
  .product-info__images .zoom {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 100%;
    height: 80%;
    z-index: 2;
    background-color: #fff;
    background-repeat: no-repeat;
    display: none; }
    @media (max-width: 992px) {
      .product-info__images .zoom {
        display: none !important; } }
  .product-info__images--main {
    display: flex;
    overflow: hidden;
    margin-bottom: .6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    height: 35rem; }
    @media (max-width: 1200px) {
      .product-info__images--main {
        height: 29rem; } }
    @media (max-width: 992px) {
      .product-info__images--main {
        height: auto; } }
    .product-info__images--main img {
      min-width: 100%;
      max-width: 100%;
      transition: 0.5s;
      pointer-events: none;
      position: relative;
      height: 100%;
      display: block; }
    .product-info__images--main .rect {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.3);
      width: 70%;
      height: 45%;
      pointer-events: none;
      transform: translate(-50%, -50%);
      opacity: 0; }
      @media (max-width: 992px) {
        .product-info__images--main .rect {
          display: none; } }
  .product-info__images--sub {
    display: flex;
    justify-content: space-between; }
    .product-info__images--sub li {
      flex: 0 0 calc((100% / 3) - .6rem); }
      .product-info__images--sub li img {
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.2);
        opacity: .7; }
        .product-info__images--sub li img.active {
          opacity: 1; }

.product-info__heading {
  font-weight: 600;
  font-size: 2.5rem; }

.product-info__rating i {
  color: gold;
  cursor: pointer;
  font-size: 1.4rem; }

.product-info__description h4 {
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: .5rem; }

.product-info__description p {
  color: #74777b;
  font-size: 1.8rem;
  line-height: 1.6; }

.product-info__highlights--list li, .product-info__services--list li {
  font-size: 1.8rem; }
  .product-info__highlights--list li:not(:last-of-type), .product-info__services--list li:not(:last-of-type) {
    margin-bottom: 0.8rem; }
  .product-info__highlights--list li span, .product-info__services--list li span {
    color: #74777b; }
  .product-info__highlights--list li a, .product-info__services--list li a {
    color: #000; }

.product-info .check-heading {
  color: #74777b;
  font-size: 1.8rem;
  font-weight: 400; }

.product-info form {
  display: flex; }
  .product-info form input {
    outline: none; }
    .product-info form input[type="text"] {
      padding: .8rem 1rem;
      flex: 0 0 50%;
      margin-right: .5rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #000; }
    .product-info form input[type="submit"] {
      padding: .9rem 2.5rem;
      font-size: 1.8rem;
      background-color: #000;
      color: #fff;
      border: 0;
      transition: 0.3s;
      cursor: pointer; }
      .product-info form input[type="submit"]:hover {
        background-color: #64b3f4; }

.product-info .product__cart {
  text-align: left;
  padding: 0;
  background: none; }
  .product-info .product__cart i {
    transition: 0.3s; }
    .product-info .product__cart i:hover {
      box-shadow: 0rem 0.1rem 0.6rem 0.1rem rgba(0, 0, 0, 0.1); }

.product-info .product__cart {
  background-color: #F7F7F7;
  padding: 1rem;
  text-align: right; }

.product-info .heading-tertiary {
  font-size: 3rem; }
