$primary-color: #64b3f4;
$primary-color-light: #D8E9FA;
$primary-color-light-2: #BED0E9;

$secondary-color: #0076BE;
$secondary-color-dark: #117A8B;
$tertiary-color: #F0475F;

$white: #fff;
$black: #000;

$gray: #74777b;
$dark-gray: #495057;
$light-gray: #e6e3e3;

$coffee: #D6C4B8;
$light-coffee: #E0D3CA;


$default-font: 1.6rem;

$transition-time: .3s;